<h2>Product List</h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th width="220">商品图形</th>
      <th>名称</th>
      <th>价格</th>
      <th>类别</th>
      <th width="100">管理选项</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.photos.present? %>
              <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <% if product.category.present? %>
            <%= product.category.name %>
          <% else %>
            <p>没有分类，请在编缉中添加</p>
          <% end %>
        </td>
        <td>
          <%= link_to("编缉", edit_admin_product_path(product), class: :"btn btn-success btn-xs" ) %>
          <%= link_to("删除", admin_product_path(product), method: :delete, class: :"btn btn-danger btn-xs") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
