<div class="header-wrap">
  <div class="header">
    <div class="headerContent headerContent_fixed">
      <div class="logo">
        <%= link_to("窗帘世家", products_path) %>
      </div>
        <%= render :partial => 'products/search' %>
        <%= render :partial => 'products/cart' %>
      </div>
  </div>
</div>
<%= render :partial => 'products/menu' %>

<div class="carousel">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
      <div class="item active">
       <a href="javascript:;">
        <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fefikcdy0fj31hc0z7jxi.jpg">
        <div class="carousel-caption"></div>
       </a>
      </div>
      <div class="item">
       <a href="javascript:;">
        <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fefiknna0nj31hc0zbdnt.jpg">
        <div class="carousel-caption"></div>
       </a>
      </div>
      <div class="item">
       <a href="javascript:;">
        <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fefin7kckmj31kw17xdqm.jpg">
        <div class="carousel-caption"></div>
       </a>
      </div>
    </div>
  </div>
</div>
<div class="orderList">
  <ul style="list-style:none">
    <p class="orderList-item">商品排序:</p>
    <li class="orderList-item"><%= link_to("销量", products_path( order: "by_product_quantity")) %></li>
    <li class="orderList-item"><%= link_to("价格", products_path( order: "by_product_price")) %></li>
  </ul>
</div>
<div class="productList">
  <div class="productList-item bg-color1"></div>
  <div class="productList-item bg-color2"></div>
  <div class="productList-item bg-color3"></div>
  <div class="productList-item bg-color4"></div>
  <div class="productList-item bg-color5 productList-lastItem"></div>
</div>
<div class="productList">
  <%= render :partial => "products/product_list" %>
</div>
