<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div>总体评价:<div class="star-rating" data-score=<%= @avg_review %> ></div></div>
    <div> 数量: <%= @product.quantity %></div>
    <div class="product-price"> ¥ <%= @product.price %></div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>

    <hr>

    <div class="review clearfix">
      <%= simple_form_for [@product, @review] do |f| %>
        <div class="form-group">
          <div id="star-rating"></div>
          <%= f.input :comment %>
        </div>

        <div class="form-action">
          <%= f.submit "评论" %>
        </div>
      <% end %>

      <% @reviews.each do |review| %>
        <div class="reviews">
          <div class="rating-star" data-score=<%= review.rating %>> </div>
          <p><%= review.comment %></p>
          <p>
            <%= review.user.email %> - <%= review.created_at %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $('.star-rating').raty({
    path: '/images',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');
    }
  });
  $('#star-rating').raty({
    path: '/images/',
    scoreName: 'review[rating]'
  });
</script>
