<div class="navbar-wrap">
  <div class="navbar">
    <div class="navbar-left">
      <a href="/">欢迎来到窗帘世家！</a>
      <a href="/products">首页</a>
    </div>
    <ul class="navbar-list" style="list-style:none">
      <% if !current_user %>
        <li class="navbar-listItem">
          <%= link_to("注册", new_user_registration_path) %>
        </li>
        <li class="navbar-spacer"></li>
        <li class="navbar-listItem">
          <%=  link_to("登录", new_user_session_path) %>
        </li>
      <% else %>
        <li class="navbar-listItem">
          <% if current_user.nickname.present? %>
            Hi!, <%= current_user.nickname %>
          <% else %>
            Hi!, <%= current_user.email %>
          <% end %>
        </li>
        <li class="navbar-listItem">
          <%= link_to("编缉个人资料", edit_user_registration_path) %>
        </li>
        <li class="navbar-listItem">
          <%= link_to("已收藏的商品", products_path(favorite: :success)) %>
        </li>
        <li class="navbar-listItem">
          <%= link_to("个人订单", account_orders_path) %>
        </li>
        <li class="navbar-spacer"></li>
        <% if current_user.admin? %>
          <li class="navbar-listItem">
            <%= link_to("后台管理", admin_products_path) %>
          </li>
        <li class="navbar-spacer"></li>
        <% end %>
        <li class="navbar-listItem">
          <%= link_to("登出", destroy_user_session_path, method: :delete) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
