<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title_tag %>
    <%= render_page_description_meta_tag %>
    <%= render_page_image_link_tag %>
    <meta property="og:title"       content="<%= page_title %>"/>
    <meta property="og:description" content="<%= page_description %>"/>
    <meta property="og:image"       content="<%= page_image %>"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :handwrite_javascript %>
  </body>
</html>
